// _footer.scss

footer {
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: $font-family;
}
